*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main__container{
  max-width: 1440px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;  
}
.titlebox{
  height: 74px;
  background: #F0544C;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 81px;
}
.heart{
  position: absolute;
  z-index: -1;
}
.header{
  border: 1px #AAAAAA solid;
  .header__logobox{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 17px 0px 17px 27px;
    align-items: center;
    vertical-align: middle;
     .header-logo__title{
       font-weight: 400;
       font-size: 32px;
       line-height: 39px;
       text-decoration: none;
       color: #AE3D44;
     }
     .header-logo{
       text-decoration: none;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100px;
       width: 100px;
       .header-logo__text{
         position: absolute;
         margin: 0 auto;
         font-weight: 400;
         font-size: 32px;
         line-height: 39px;
         color: white;
       }
     }
   }
  .header__nav{
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #4B4B4B;
    border-top: #AAAAAA 1px solid;
    padding: 16px 40px;
    .header-list{
      width: 450px;
      display: flex;
      justify-content: space-between;
      list-style: none;
      .header-list__item{
        .header-list__link{
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          color: #4B4B4B;
          text-decoration: none;
        }
      }
    }

  }
}
.main{
  position: relative;
  .main__heart1{
    top: 870px;
    right: 200px;
  }
  .main__heart2{
    top: 650px;
    right: 0px;
  }
  .main__heart4{
    top: 2200px;
  }
  .main__heart5{
   right: 0px;
   top: 2500px;
  }
  .main__heart6 {
    bottom: 0px;
    left: 150px;
  }
  .main__heart7{
    bottom: 0px;
    left: 0px;
  }
  .infobox{
    margin-top: 64px;
    .infobox__info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 55px;
      .infobox__text{
        max-width: 570px;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
      }
    }
  }
  .reviews{
    margin-top: 181px;
    width: 1440px;
    .reviews__titlebox{
      width: 366px;
    }
    .carousel-item__content{
      height: 440px;
      width: 1440px;
      display: flex;
      justify-content: space-between;
      .reviews-card{
        padding: 60px 26px 26px 26px;
        width: 345px;
        height: 438px;
        border: 1px black solid ;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        .reviews-card__info{
          display: flex;
          justify-content: space-between;
        }
        .reviews-card__img{
          align-self: center;
          width: 220px;
          height: 220px;
          margin-bottom: 58px;
        }
        .reviews-card__link{
          text-decoration: none;
          color: #4B4B4B;
          margin-bottom: 16px;
        }
      }
    }
    margin-bottom: 100px;
  }
  .photos{
    .photos__titlebox{
      width: 564px;
    }
    .carousel-item__content{
      display: flex;
      justify-content: space-between;
    }
  }
  .services{
    margin-top: 150px;
    .services__titlebox{
      width: 290px;
    }
    .services__content{
      display: flex;
      justify-content: space-between;
      .services-card{
        width: 541px;
        height: 694px;
        background: #FFFFFF;
        border: 1px solid #A6A6A6;
        border-radius: 25px;
        padding: 38px 0px 0px 23px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        .services-card__title{
          font-weight: 400;
          font-size: 32px;
          line-height: 39px;
          color: #AE3D44;
          text-align: center;
          margin-bottom: 72px;
        }
        .services-card__list{
          list-style-image: url(./Ellipse9.png);
          margin-bottom: 197px;
          .services-card__item{
            margin-bottom: 56px;
            .services-card__text{
              margin-left: 21px;
            }
          }
        }
        .services-card__link{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .footer{
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #A6A6A6;
    border-radius: 25px;
    width: 1238px;
    height: 408px;
    margin-top: 170px;
    .footer__content{
      margin: 0 auto;
      margin-top: 56px;
      display: flex;
      justify-content: space-between;
      height: 261px;
      width: 1000px;
      .footer__contacts{
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .footer__title{
          font-size: 27px;
          line-height: 33px;
          color: #454545;
        }
        .footer__link , .footer__link_home{
          text-decoration: none;
          color: #454545;
          font-size: 24px;
          line-height: 29px;
        }
        .footer__link_home{
          font-size: 27px;
          margin-top: 33px;
        }
      }
      .footer__network{
        width: 230px;
        .footer__text{
          font-weight: 400;
          font-size: 27px;
          line-height: 33px;
        }
        .footer__linkbox{
          display: flex;
          justify-content: space-between;
        }
      }
    } 
    .footer__linkarr{
      text-decoration: none;
      color: #9C9C9C;
      font-size: 24px;
      line-height: 29px;
      display: block;
      text-align: center;
      margin-top: 44px;
    }
  }
}